<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
  </apikeys>
  <packageSources>
    <!--<add key="NuGet official package source" value="https://www.nuget.org" />-->
    <add key="NuGet Local Repo" value="file:///D:/Google%20Drive/NuGet%20Local%20Repo/" />
  </packageSources>
</configuration>